/.idea/
/.mono/
/autostart/
/dconf/
/discord/
/dot-files/
/GIMP/
/go/
/gtk-3.0/
/JetBrains/
/kdeconnect/
/KeePass/
/mozilla/
/obs-studio/
/obsidian/
/OpenRGB/
/pulse/
/Rice/
/session/
/Slack/
/yay/
/dolphinrc
/kiorc
/mimeapps.list
/partitionmanagerrc
/QtProject.conf
/trashrc
